* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

.App {
  text-align: center;
  width: 90%;
  margin: 20px auto;
}

.App--title {
  font-size: 3rem;
  font-style: italic;
}
.App--title > span {
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 16px;
  margin: 5rem 0;
}

.grid--block {
  background: #eff3f7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.list--item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item--data {
  margin: 0 10px;
  padding: 5px 26px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}

.item--data .data {
  font-weight: lighter;
}

.item--data:nth-child(1) {
  background-color: #ff6385e3;
}

.item--data:nth-child(2) {
  background-color: #008000dc;
}

.item--data:nth-child(3) {
  background-color: #ff0000e5;
}

.country {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.primary {
  color: red;
}

.secondary {
  color: #059700;
  margin-top: 10px;
}

.primary--numb,
.secondary--numb {
  font-size: 2rem;
}

.title {
  margin-bottom: 3rem;
}

.div--marg {
  margin: 5rem 0;
}

.overflow--scroll {
  height: 320px;
  overflow: auto;
}

.country--table {
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
}

.country--table td {
  padding: 0.5rem;
}

.country--table th {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.country--table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.country--table tr:hover {
  background-color: #ddd;
}

.country--table .infected {
  color: #ff0000;
}

.country--table .tested {
  color: #c57600;
}

.country--table .recoverd {
  color: #059700;
}

.top-marg {
  margin-top: 16px;
}
