* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 90%;
  margin: 20px auto;
}

.App--title {
  font-size: 3rem;
  font-style: italic;
}
.App--title > span {
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 16px;
  margin: 5rem 0;
}

.grid--block {
  background: #eff3f7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.country {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.primary {
  color: red;
}

.secondary {
  color: #059700;
  margin-top: 10px;
}

.primary--numb,
.secondary--numb {
  font-size: 2rem;
}

.title {
  margin-bottom: 3rem;
}

.div--marg {
  margin: 5rem 0;
}

.overflow--scroll {
  height: 320px;
  overflow: auto;
}

.country--table {
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
}

.country--table td {
  padding: 0.5rem;
}

.country--table th {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.country--table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.country--table tr:hover {
  background-color: #ddd;
}

.country--table .infected {
  color: #ff0000;
}

.country--table .tested {
  color: #c57600;
}

.country--table .recoverd {
  color: #059700;
}

.search--div {
  margin: 5rem 0;
}

.search--form > .search--bar {
  width: 60%;
  border-radius: 50px;
  padding: 0.3rem;
  font-size: 1rem;
  border: 2px solid rgb(0, 60, 255);
}

.search--form > .search--btn {
  padding: 0.6rem;
  border-radius: 50px;
  margin-left: -50px;
  background-color: rgb(0, 60, 255);
  color: white;
  border: none;
}

.top-marg {
  margin-top: 16px;
}
